<div class="panel-title">
  Current:
  <br>
  In Progress: <%= totalPoints %> pts
</div>
<div id="current-items">
<% stories.each(function(story){ %>
  <div data-id='<%= story.id %>' class="single-story">
    <div class='story-link'>
      <a href='#/main' data-id='<%= story.id %>' class='story-title'><%= story.escape('title') %></a>
    </div>
    <div class='story-action'>
      <a class='btn btn-success btn-mini' id='finish-story' data-id='<%= story.id %>'>Done</a>
    </div>
  </div>
<% }) %>
</div>

<script>
$("#current-items").sortable({
  connectWith: ["#completed-items", "#backlog-items"],
  update: function(event, ui){
    console.log("QQQQQQ")
    ui.item.trigger('dropcurrent', ui.item.index());
  }
})
</script>