<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar" id="top_navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><%= link_to "PTL", root_url, :class=> "brand" %></li>
        <li><a href="#/chart"> Burndown </a></li>
        <li><a href="#/main"> Stories </a></li>
      </ul>
    </div>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
